html{
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before
*:after {
    box-sizing: inherit;
}

/* to set the overall structure */
body{
    background-color: #aad4cf;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    background-color: #d5e9e7;
}

/* using the wide image as background image of the first section */
.firstsection{
    background-image: url(../images/lone-starfish-wide.jpg);
    width: 1000px;
    height: 400px;
}

.headingpart{
    font-size: 3.5rem;
    color: white;
    left: 350px;
    line-height: 400px;
    position: relative;
    z-index: 1;
}

nav ul li{
    display: inline-block;
    width: 230px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

a:link, a:visited {
    text-decoration: none;
    color:black;
    line-height: 40px;
}

.box {
    width: 33.3%;
    height: 50px;
    float: left;
}

/* from here to start the paragraph with h2  */
h2{
    font-size: 2rem;
    margin-left: 20px;
}

.float img{
    width: 220px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* adjust numbers to match margins */
p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1.5rem;
}

ul li{
    list-style-type: disc;
    list-style-position: inside;
}

.borderform{
    width: 900px;
    height: 500px;
    padding: 20px;
    border: 2px solid black;
    margin-left: 20px;
}

ul{
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

/* creates area to fill for the form underneath */
#name, #email, #message {
    width:90%;
    padding:12px 20px;
    margin: 8px 0;
    margin-left: 10px;
}

label {
    margin-left: 20px;
}

.question{
    margin-left: 20px;
    margin-bottom: 20px;
}

.radio{
    margin-bottom: 20px;

}

button{
    margin-left: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
}

footer {
    padding:20px;
    margin-right: 20px;
    text-align: right;
}

span{
    border-radius: 50%;
    border: 1px solid black;
    padding: 1px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}