*{
    box-sizing: border-box;
}

/* google font */
html{
    font-family: 'Open Sans', sans-serif;
}

.header {
    max-width: 1400px;
    margin: auto;
    padding: 10px;
    width: 600px;
    height: 450px;
    background-color: black;
}

nav ul li a {
    font-size: 18px;
    color: #c68c2b;
    text-decoration: none;
}

li{
    list-style: none;
}

.shop {
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 20px;
    background-color: #c68c2b;
    color:black;
    font-size: 15px;
}

.banner {
    width: 100%;
    height: 500px;
    background: url(../images/main-banner.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: space-evenly;
}

.box {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: rgba(0,0,0, 0.3);
}

.box h1 {
    font-size: 60px;
    font-weight: bold;
    color:#fff;
    padding: 20px;
}

.box p {
    font-size: 15px;
    line-height: 30px;
    padding: 20px;
    color:#fff;
}

.box button {
    height: 60px;
    margin-left: 20px;
}

.box button i {
    margin-left: 20px;
}

.aboutus{
    width: 100%;
    margin:0 auto;
    background-color: #ffe6ab;
}

.logo-image {
    background-color: #c68c2b;
    height: 80px;
} 

nav ul li {
    text-align: center;
    padding: 20px;
}

.search input {
    margin-left: 10px;
    width: 520px;
    height: 30px;
    color:#757575;
    font-size: 12px;
}
.search button {
    margin-left: -5px;
    width: 30px;
    height: 30px;
    border:1px solid #c68c2b;
    background-color: black;
    color:#c68c2b;  
}

.banner {
    width: 600px;
    margin: 0 auto;
}

.aboutus {
    max-width: 600px;
    height: 560px;

}

.aboutus h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 0 20px;

}

.aboutus p {
    font-size: 15px;
    padding: 15px 20px;
    line-height: 22.5px;
}

.aboutus img {
    width: 100%;
    height: 300px;
    padding: 20px;
}

.cards {
    height: 3500px;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
}

.cards h2 {
    font-size: 36px;
    padding: 20px;
}

.c {
    background-color: #ffe6ab;
}

.c h4 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}
.c p {
    font-size: 15px;
    padding: 0 20px;
    line-height: 22.5px;
}
.c img {
    width: 100%;
    height: 400px;
}

.c button {
    cursor: pointer;
    display: inline-block;
    border: 0;
    height: 60px;
    margin-left: 20px;
    font-size: 18px;
    background-color: black;
    color: #fff;
    padding: 0 20px;
    margin: 20px;
}

.c button i {
    margin-left: 20px;;
}




    
/* header acts as a parent for logo, nav and search. Nav is a column at mob and a row at desktop, use flex */
/* progressive enhancement */
@media screen and (min-width: 600px) {
    /* .header {
        width: 600px;
        height: 450px;
        background-color: black;
    }

    .logo-image {
        background-color: #c68c2b;
        height: 80px;
    } 

    nav ul li {
        text-align: center;
        padding: 20px;
    }
  
    .search input {
        margin-left: 10px;
        width: 520px;
        height: 30px;
        color:#757575;
        font-size: 12px;
    } */

    .search button {
        margin-left: -5px;
        width: 30px;
        height: 30px;
        border:1px solid #c68c2b;
        background-color: black;
        color:#c68c2b;  
    }

    .banner {
        width: 600px;
        margin: 0 auto;
    }

    .aboutus {
        max-width: 600px;
        height: 560px;
    }

    .aboutus h2 {
        font-size: 36px;
        font-weight: bold;
        padding: 0 20px;
    } 

    .aboutus p {
        font-size: 15px;
        padding: 15px 20px;
        line-height: 22.5px;
    }

    .aboutus img {
        width: 100%;
        height: 300px;
        padding: 20px;
    }
    .cards {
    height: 3500px;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
}
     

} 

@media screen and (max-width:1200px) {
    .home{
        background-color: #c68c2b;
    }

    .home a{
        color:black;
    }

   

}

@media screen and (min-width: 1200px) {
    .header {
        width: 1200px;
        height: 120px;
        background-color: black;
    }

    .main-nav{
        display: flex;
        margin-left: 80px;
    }

    .main-nav ul {
        display:flex;
    }

    nav ul li a {
        display: block;
        height: 70px;
        padding: 0 10px;
        line-height: 70px;
    }

    nav ul li a:hover {
        color:black;
        background-color: #c68c2b;
        width: 100px;
    }
    .search {
        float: left;
        width: 260px;
        height: 70px;
        padding-top: 40px;
    }

    .search input{
        float:left;
        width: 220px;
        height: 30px;
    }

    .search button{
        float:right;
        width:30px;
        height:30px;
        border:1px solid #c68c2b;
        background-color: black;
        color:#c68c2b;    
    }
    .banner {
        width: 1200px;
    }

    .box {
        width: 85%;
        align-self: center;
    }

    .box h1 {
        font-size: 72px;
        padding-top: 60px;
    }

    .aboutus {
        max-width: 1200px;
        height: 300px;
    }

    .center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        
    }

    .right {
        margin-top: 20px;
    }
/* sections contain image and text using grid */
    .cards {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        grid-gap: 20px;
        max-width: 1200px;
        height:800px;
    }

    .headline {
        background-color: purple;
        grid-column: 1/span 6;
        height: 100px;
    }

    .cards img {
        width: 100%;
        margin-bottom: 20px;

    }


   


}

/* section for welcome contains a bg image w centered rgba block containing a header, paragraph and button */

/* about has an image on the left and text on the right, needs to be two columns with a solid bg */

.maps iframe {
    border:0;
    width: 600px;
    height:450px;
}